@import './mixins';
html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $base_color;
}

ul {
    li {
        list-style-type: none;
    }
}

input,button {
    &:focus {
        outline: none;
    }
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $font_color;
    background-color: #ffffff;
}

.container {
    position: relative;
    max-width: 120rem;
    margin: 0 auto;
    z-index: 200;
}

.btn-base {
    color: #fff;
    background-color: $base_color;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    max-width: 162px;
    border-radius: $btn_radius;
    line-height: 1.875;
    font-size: 1.6rem;
    font-family: "Gilroy";
    font-weight: 600;
    text-align: center;
    @include button_hover();
}

.logo {
    color: #111;
    font-size: 20px;
    font-family: "Gilroy";
    font-weight: 700;
}

.menu {
    a {
        display: inline-block;
        padding: 40px 0;
        font-size: 14px;
        color: $font_color;
        font-weight: 700;

        &:not(:last-of-type) {
            margin-right: 38px;
        }

        &.has-dropdown {
            position: relative;
            margin-right: 25px;

            .icon {
                width: 10px;
                height: 10px;
                margin-left: 10px;
            }
        }
    }
}

.section-caption-small {
    margin-bottom: 15px;
    font-family: "Gilroy";
    font-size: 1.4rem;
    font-weight: 700;
    color: $base_color;
    text-transform: uppercase;
}

.section-title {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 4rem;
    line-height: 1.2;
}

.section-text {
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    color: $section_text_color;
    line-height: 1.875;
}