// colors
$base_color: #5D5FEF;
$dark_blue: #0F0E2C;
$border_color: #C4C4C4;
$red: #FF7F5C;

// fonts
$font_color: #333333;
$header_font_color: #757095;
$section_text_color: #64607D;

// radius
$btn_radius: 47px;

// media breakpoints
$mob: 480px;
$tab: 768px;
$lap: 1024px;
$lg: 1440px;
