@import './fonts';
@import './vars';
@import './general';
@import './mixins';

// @include font-face('Manrope', 'Manrope-Thin', 100);
// @include font-face('Manrope', 'Manrope-ExtraLight', 200);
// @include font-face('Manrope', 'Manrope-Light', 300);
@include font-face('Manrope', 'Manrope-Regular', 400);
@include font-face('Manrope', 'Manrope-Medium', 500);
@include font-face('Manrope', 'Manrope-SemiBold', 600);
@include font-face('Manrope', 'Manrope-Bold', 700);
@include font-face('Manrope', 'Manrope-ExtraBold', 800);

@include font-face('Gilroy', 'Gilroy-Medium', 500);
@include font-face('Gilroy', 'Gilroy-Semibold', 600);
@include font-face('Gilroy', 'Gilroy-Bold', 700);
@include font-face('Gilroy', 'Gilroy-Black', 900);

// @import './header.scss';

header {
    position: relative;
    overflow: hidden;
    padding-bottom: 42px;
    border-bottom: 1px solid rgba($border_color, .4);
    z-index: 100;

    @include mob-max() {
        padding-bottom: 20px;
    }
}

header .logo {
    margin-right: auto;
}

.header-wave {
    position: absolute;
    left: -141px;
    top: -68px;
    width: 1040px;
    height: 888px;
    overflow: hidden;
    z-index: 50;

    @include mob-max() {
        width: 700px;
        height: 600px;
    }
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .menu {
        margin-right: 180px;

        @include tab-max() {
            display: none;
        }
    }
}

.header-burger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 46px;
    height: 46px;
    border-radius: 5px;
    cursor: pointer;

    @include tab-max() {
        display: flex;
    }

    &.active {
        span:first-child {
            transform: rotate(45deg);
            margin-bottom: -3px;
        }
        span:last-child {
            margin-top: -3px;
            transform: rotate(-45deg);
        }
        span:nth-child(2) {
            margin: 0;
            background-color: transparent;
        }
    }

    span {
        display: block;
        height: 3px;
        width: 30px;
        background-color: $base_color;
        border-radius: 3px;
        transition: all .25s ease;

        &:nth-child(2) {
            margin: 6px 0;
        }
    }
}

.header-login {
    display: flex;
    align-items: center;

    @include tab-max(){
        display: none;
    }


    .h-btn {
        display: inline-block;
        padding: 16px 35px;
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 600;
        border-radius: 10px;
        cursor: pointer;
        transition: all .25s ease;

        &.base {
            background-color: $base_color;
            color: #fff;

            &:hover {
                opacity: 0.7;
            }

            &:active {
                opacity: 1;
            }
        }

        &.transparent {
            color: $font_color;

            &:hover {
                opacity: 0.7;
            }

            &:active {
                opacity: 1;
                color: $base_color;
            }
        }
    }
}

.header-content {
    margin-top: 122px;

    @include animateInLeft();
    @include mob-max() {
        margin-top: 35px;
    }
    @include mob-lg {
        margin-top: 50px;
    }
    @include tab() {
        margin-top: 90px;
    }
}

.header-subtitle {
    font-family: "Gilroy";
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;

    @include mob-max() {
        font-size: 1.8rem;
    }
    @include tab() {
        font-size: 2rem;
    }
}

.header-title {
    max-width: 646px;
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 6rem;
    line-height: 1.13;
    font-weight: 800;

    @include mob-max() {
        font-size: 24px;
        line-height: 1;
    }

    @include mob-lg {
        font-size: 32px;
    }

    @include tab {
        font-size: 44px;
    }
}

.header-text {
    max-width: 569px;
    margin-bottom: 20px;
    color: $header_font_color;
    font-size: 2rem;
    line-height: 1.75;

    @include mob-max() {
        font-size: 16px;
    }

    @include tab() {
        font-size: 1.8rem;
    }
}

.header-form {
    position: relative;
    max-width: 622px;
    background-color: #fff;
    box-shadow: 0 4.35px 134px rgba(#000, .1);

    label {
        position: absolute;
        left: 24px;
        top: 27px;
        font-family: "Gilroy";
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.25;
        color: rgba(#000, .4);

        @include mob-max() {
            font-size: 14px;
            left: 15px;
            top: 15px;
        }
    }

    input {
        width: 100%;
        height: 100px;
        padding: 28px 0 0 24px;
        font-family: "Gilroy";
        font-size: 2.4rem;
        font-weight: 700;
        color: rgba(#000, .6);
        border: none;

        @include mob-max() {
            padding: 15px 15px 0 15px;
            height: 70px;
            font-size: 16px;
        }
    }

    button {
        position: absolute;
        right: 18px;
        top: 18px;
        height: 64px;
        width: 211px;
        border: none;
        font-family: "Gilroy";
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        background-color: $font_color;
        cursor: pointer;
        @include button_hover();

        @include mob() {
            width: 200px;
            height: 48px;
            position: static;
            margin-left: 15px;
            margin-bottom: 15px;
            font-size: 16px;
        }

        @include mob-lg {
            right: 15px;
            top: 11px;
            width: 200px;
            height: 48px;
            font-size: 16px;
        }
    }
}

.header-advantages {
    display: flex;
    margin-top: 53px;

    @include mob-max() {
        margin-top: 20px;
    }

    @include tab() {
        margin-top: 30px;
    }

    .icon {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }

    span {
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        line-height: 1.76;
        color: $header_font_color;

        @include mob-max() {
            font-size: 14px;
        }

        @include mob-lg() {
            font-size: 15px;
        }

        &:first-of-type {
            margin-right: 30px;
        }
    }
}

.header-dashboard {
    position: absolute;
    top: 121px;
    right: -109px;
    width: 845px;
    height: 685px;
    filter: drop-shadow(0 29px 35px rgba(0, 0, 0, 0.2));

    @include mob-max() {
        display: none;
        height: auto;
    }
}

.section-title-small {
    margin-bottom: 40px;
    font-family: "Gilroy";
    font-weight: 600;
    font-size: 2.2rem;

    @include mob-max() {
        margin-bottom: 20px;
    }

    @include tab() {
        margin-bottom: 30px;
    }
}

.s-brands {
    padding: 60px 0 80px;
    border-bottom: 1px solid rgba($border_color, .4);

    @include animateInDown();

    @include mob-max() {
        padding: 30px 0 40px;
    }
    @include tab() {
        padding: 45px 0;
    }
}

.brands {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15px;

    @include mob() {
        flex-direction: column;
    }

    .brand {
        width: 137px;
        height: 28px;

        @include mob-lg {
            margin-right: 15px;
            margin-bottom: 15px;
        }

        @include tab() {
            margin-bottom: 15px;
        }

        &:not(:last-child) {
            margin-right: 49px;

            @include mob() {
                margin-right: 0;
                margin-bottom: 15px;
            }
            @include mob-lg {
                margin-right: 15px;
                margin-bottom: 15px;
            }
        }
    }
}

.s-process {
    position: relative;
    padding: 100px 0 0 0;
    margin-bottom: -185px;
    overflow: hidden;

    @include mob-max() {
        padding: 40px 0 0 0;
        margin-bottom: 0;
    }

    @include tab() {
        padding-top: 60px;
        margin-bottom: 0;
    }

    &:before {
        position: absolute;
        right: -131px;
        top: 112px;
        display: block;
        content: "";

        width: 456px;
        height: 456px;
        border-radius: 50%;
        background-color: #F5F8FF;
    }
}

.s-process-text {
    width: 365px;
    z-index: 600;

    @include animateInLeft();
    @include mob-max() {
        width: auto;
    }

    &.animated {
        ~ .s-process-steps {
            .step {
                h3, p {
                    opacity: 1;
                    transform: scale(1);
                }

                &:before {
                    background-color: $red;
                }

                &:nth-child(2):before {
                    transition-delay: 1400ms;
                }

                &:nth-child(3):before {
                    transition-delay: 2800ms;
                }
            }
        }
    }
}

.animation {
    @include tab-max() {
        display: none;
    }
}

#animation_line {
    position: absolute;
    top: 142px;
    width: 1017px;
    height: 402px;

    .road_progress {
        position: relative;
        z-index: 999;

        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;

        transition: stroke-dashoffset 1.2s ease;
        opacity: 0;
    }

    .road_way {
        position: relative;
        z-index: 800;
    }
}

.s-process-steps {
    counter-reset: item;

    position: absolute;
    top: 199px;
    left: 123px;
    display: flex;

    @include mob-max() {
        position: static;
        flex-direction: column;
    }

    @include tab-max() {
        position: static;
        justify-content: space-around;
        margin-top: 28px;
    }

    .step {
        position: relative;

        @include mob-max() {
            display: flex;
            flex-direction: column;
        }

        @include tab() {
            max-width: 230px;
        }

        h3 {
            font-weight: 800;
            font-size: 1.6rem;
            line-height: 1.875;
        }

        p, h3 {
            opacity: 0;
            transform: scale(.9);
            transition: opacity, transform, 1200ms ease;

            @include tab-max() {
                opacity: 1;
                transform: none;
            }
        }

        &::before {
            display: block;
            content: "";
            width: 23px;
            height: 23px;
            margin-bottom: 32px;
            margin-left: 20px;
            background-color: $border_color;
            box-shadow: 0 0 0 20px #f3f3f3;
            border-radius: 7px;
            transition: background-color, .25s ease;

            @include tab-max() {
                display: none;
            }
        }

        &:after {
            position: absolute;
            right: 0;
            top: -68px;
            display: block;
            counter-increment: item;
            content: counter(item);
            font-family: "Gilroy";
            font-weight: 900;
            font-size: 20rem;
            line-height: 1;
            opacity: .05;

            @include mob-max() {
                position: static;
                opacity: .2;
                font-size: 40px;
                order: -1;
            }
        }

        &:first-child {
            margin-top: 315px;
            margin-right: 187px;

            @include mob-max() {
                margin-top: 15px;
                margin-right: 0;
            }

            @include tab() {
                margin-top: 0;
                margin-right: 0;
            }
        }

        &:nth-child(2) {
            margin-top: 185px;
            margin-right: 56px;

            @include mob-max() {
                margin-top: 15px;
                margin-right: 0;
            }
            @include tab() {
                margin-top: 0;
                margin-right: 0;
            }
        }

        &:nth-child(3) {
            position: relative;
            top: -64px;

            @include tab-max() {
                top: 0;
            }
        }
    }

    .section-text {
        min-width: 285px;
        max-width: 285px;

        @include tab() {
            max-width: 230px;
            min-width: 230px;
        }
    }
}

.s-process-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 830px;
    height: 400px;
    margin-top: 435px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 15px;

    z-index: 100;

    @include animateInUp();
    @include mob-max() {
        width: 100%;
        height: 260px;
        padding: 0 15px;
        margin-top: 30px;
        border-radius: 0;
    }
    @include tab(){
        width: 100%;
        max-width: 830px;
        height: 300px;
        margin-top: 40px;
        border-radius: 0;
    }

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(#16012C, .5);
        z-index: 10;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 5;
    }

    .section-title {
        position: relative;
        margin-bottom: 0;
        z-index: 11;
        color: #fff;
    }

    p {
        position: relative;
        max-width: 604px;
        margin: 15px 0 20px 0;
        font-family: "Gilroy";
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.5;
        color: #fff;
        z-index: 11;

        @include mob-max() {
            margin: 8px 0 15px 0;
            font-size: 14px;
        }

        @include tab(){
            font-size: 16px;
        }
    }

    .btn {
        position: relative;
        z-index: 11;
    }
}

.s-grow {
    position: relative;
    min-height: 1113px;
    overflow: hidden;
    padding-top: 290px;
    padding-bottom: 159px;

    @include mob-max() {
        padding-top: 40px;
        padding-bottom: 20px;
        background-color: #f5f8ff;
    }

    @include tab-max() {
        min-height: auto;
    }

    @include tab() {
        min-height: auto;
        padding-top: 115px;
        padding-bottom: 55px;
    }

    .section-text {
        max-width: 604px;
        margin-left: auto;
        margin-right: auto;
    }

    .bg-image {
        position: absolute;
        left: 50%;
        top: 0;
        width: 2560px;
        height: 1113px;
        transform: translateX(-50%);

        @include mob-max() {
            display: none;
        }
    }

    .btn-more {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}

.grow-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 75px;

    @include mob-max() {
        display: block;
        margin-top: 25px;
    }

    @include tab() {
        margin-top: 45px;
        grid-gap: 15px;
    }
}

.g-item {
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 20px;

    @include mob-max() {
        padding: 20px 15px;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    @include tab() {
        padding: 20px 15px;
    }

    &:nth-child(2) {
        transition-delay: 200ms;
    }

    &:nth-child(3) {
        transition-delay: 400ms;
    }

    @include animateInUp();

    .icon {
        width: 42px;
        height: 42px;
    }
}

.g-title {
    margin-top: 25px;
    font-size: 2.4rem;
    line-height: 2.5;

    @include mob-max() {
        margin-top: 0;
        font-size: 19px;
    }

    @include tab(){
        font-size: 2rem;
        line-height: 1.5;
    }
}

.g-link {
    font-size: 1.6rem;
    font-weight: 500;
    color: #01966B;
    @include button_hover();

    .icon {
        width: 12px;
        height: 12px;
        margin-left: 10px;
    }
}

.s-built {
    padding: 100px 0 130px;

    @include mob-max() {
        padding: 30px 0 35px;
    }

    @include tab(){
        padding: 45px 0 55px;
    }

    .section-title {
        min-width: 360px;
        max-width: 370px;
        padding-right: 40px;
        margin-bottom: 0;
        font-size: 3.4rem;

        @include mob-max() {
            min-width: auto;
            max-width: none;
            padding-right: 0;
            font-size: 20px;
        }

        @include tab(){
            width: 100%;
            max-width: 100%;
            text-align: center;
            padding-right: 0;
            font-size: 23px;
        }
    }
}

.s-built-aligner {
    display: flex;
    align-items: center;
    padding: 40px 45px;
    border: 1px solid rgba($border_color, .4);
    border-radius: 20px;

    @include animateInUp();

    @include mob-max() {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    @include tab() {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }
}

.built-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include mob-max() {
        flex-direction: column;
        align-items: flex-start;
    }

    @include tab(){
        margin-top: 15px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .item {
        display: flex;
        align-items: center;

        @include mob-max() {
            margin-top: 12px;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            border-radius: 5px;
            background-color: #E9ECF2;

            @include tab-max() {
                width: 40px;
                height: 40px;
            }
        }

        p {
            max-width: 155px;
            padding-left: 18px;
            font-family: "Gilroy";
            font-size: 2rem;
            line-height: 1.6;
            color: $section_text_color;

            @include tab-max() {
                max-width: none;
                font-size: 16px;
                line-height: 1.2;
                padding-left: 10px;
            }
        }

        &:last-child {
            p {
                max-width: 180px;
                @include mob-max() {
                    max-width: none;
                }
            }
        }
    }
}

.s-offering {
    margin-bottom: 120px;

    @include mob-max() {
        margin-bottom: 30px;
    }

    @include tab() {
        margin-bottom: 60px;
    }
}

.offers {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include mob-max() {
        flex-direction: column;
    }
}

.offer {
    width: calc(50% - 15px);
    padding: 38px;
    background-color: #F8F9FD;
    border-radius: 20px;

    @include animateInUp();
    @include mob-max() {
        width: 100%;
        padding: 15px;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    @include tab() {
        width: calc(50% - 8.5px);
        padding: 20px;
    }

    &:nth-child(2) {
        transition-delay: 200ms;
    }
}

.offer-title {
    max-width: 388px;
    margin: 0 auto;
    font-size: 3.8rem;
    line-height: 1.31;

    @include mob-max() {
        font-size: 21px;
    }

    @include tab() {
        font-size: 24px;
    }
}

.offer-text {
    max-width: 468px;
    margin: 20px auto 35px auto;
    font-family: "Gilroy";
    font-size: 1.6rem;
    line-height: 1.875;
    color: $section_text_color;

    @include mob-max() {
        margin: 10px auto 15px auto;
        font-size: 14px;
    }

    @include tab() {
        margin: 15px auto;
        font-size: 15px;
    }
}

.swiper {
    width: 100%;
    height: auto;
}

.s-testimonials {
    padding-bottom: 94px;

    @include mob-max() {
        padding-bottom: 35px;
    }

    @include tab() {
        padding-bottom: 45px;
    }

    .review-slide {
        display: flex;
        align-items: center;

        @include mob-max() {
            flex-direction: column;
        }
    }
}

.review-img {
    padding: 67px 45px;

    @include animateInLeft();
    @include tab-max() {
        padding: 0;
    }

    img {
        position: relative;
        width: 402px;
        height: 539px;
        z-index: 50;
        object-fit: cover;

        @include mob-max() {
            width: auto;
            max-width: 100%;
            height: auto;
            max-height: 250px;
        }

        @include tab(){
            height: 400px;
            width: 300px;
            min-width: 300px;
        }
    }

    .decor {
        @include tab-max() {
            display: none;
        }

        .icon {
            position: absolute;
            z-index: 40;

            &:first-child {
                left: 0;
                top: 18px;
                width: 96px;
                height: 98px;
            }

            &:nth-child(2) {
                width: 133px;
                height: 133px;
                right: -13px;
                bottom: 0;
            }

            &:nth-child(3) {
                width: 126px;
                height: 20px;
                left: 145px;
                bottom: 15px;
            }

            &:nth-child(4) {
                width: 148px;
                height: 148px;
                right: 0;
                top: 0;
            }
        }
    }
}

.review-text {
    max-width: 554px;
    margin-left: auto;
    margin-right: 20px;

    @include animateInRight();
    @include tab-max() {
        margin-left: auto;
        margin-right: auto;
    }
    @include tab() {
        padding-left: 15px;
    }

    p {
        font-size: 3rem;
        line-height: 1.36;
        font-weight: 600;

        @include mob-max() {
            font-size: 15px;
        }

        @include tab() {
            font-size: 2rem;
        }
    }

    >.icon {
        width: 31px;
        height: 27px;

        @include mob-max() {
            width: 18px;
            height: 18px;
        }

        @include tab() {
            width: 24px;
            height: 24px;
        }
    }


}

.review-rating {
    display: flex;
    align-items: center;
    margin: 20px 0;

    @include mob-max() {
        margin: 10px 0;
    }
    @include tab() {
        margin: 15px 0;
    }

    .icon {
        width: 28px;
        height: 28px;
        margin-right: 6px;

        @include mob-max() {
            width: 18px;
            height: 18px;
            margin-right: 3px;
        }

        @include tab() {
            width: 22px;
            height: 22px;
        }
    }
}

.review-author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;

    @include mob-max() {
        margin-top: 15px;
    }

    @include tab() {
        margin-top: 25px;
    }

    .icon {
        width: 137px;
        height: 28px;

        @include mob-max() {
            width: 95px;
        }
    }
}

.reviewer {
    span {
        display: block;

        &:first-child {
            font-weight: 600;
            font-size: 2rem;
            line-height: 1.5;

            @include mob-max() {
                font-size: 16px;
            }
        }

        &:last-child {
            color: $header_font_color;
            font-size: 1.6rem;
            line-height: 1.5;

            @include mob-max() {
                font-size: 14px;    
            }
        }
    }
}

.reviews-slider {

    .custom-prev,
    .custom-next {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 14px 14px rgba(#000, .1);
        transform: translateY(-50%);
        z-index: 60;
        cursor: pointer;

        @include mob-max() {
            top: 150px;
        }

        .icon {
            width: 10px;
            height: 20px;
        }
    }

    &.swiper {
        .custom-prev {
            left: 15px;
        }

        .custom-next {
            right: auto;
            left: 417px;

            @include mob-max() {
                left: auto;
                right: 15px;
            }

            @include tab() {
                left: 225px;
            }
        }
    }
}

.s-download {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 193px;
    min-height: 699px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-image: url(../img/sprite/download_bg.svg);

    @include mob-max() {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        min-height: auto;
        margin-bottom: 30px;
    }

    @include tab() {
        min-height: 500px;
        padding-top: 110px;
    }

    .section-caption-small {
        margin-bottom: 0;
    }

    .section-title {
        max-width: 700px;
        margin: 20px 0 23px;

        @include mob-max() {
            margin: 10px 0;
        }
    }

    .section-text {
        font-size: 2rem;
        margin-bottom: 29px;

        @include tab-max() {
            font-size: 16px;
            margin-bottom: 15px;
        }
    }

    .download-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .icon {
            width: 30px;
            height: 30px;
            margin-right: 4px;
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 178px;
            padding: 0;
            line-height: 5.3rem;
        }
    }

    .btn-black {
        margin-left: 11px;
    }
}

.s-posts {
    padding: 23px 0 100px;

    @include tab-max() {
        padding: 20px 0 20px;
    }

    img {
        border-radius: 10px;
    }

    .posts-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include animateInUp();
        @include mob() {
            flex-direction: column;
            align-items: flex-start;
        }
        @include tab-max() {
            opacity: 1;
            top: auto;
            transform: none;
        }
    }

    .posts {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 30px;
        margin-top: 56px;

        @include mob-max() {
            display: block;
            margin-top: 15px;
        }

        @include tab() {
            grid-gap: 15px;
            margin-top: 15px;
        }

        .post {
            position: relative;
        }

        .post-title {
            margin-top: 11px;
            font-weight: 800;
        }

        .post-link {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 32;

            &:hover {

                ~.post-title,
                ~.post-description .post-title {
                    text-decoration: underline;
                }
            }
        }
    }

    .post-category {
        position: relative;
        z-index: 33;
        margin-top: 14px;

        @include tab() {
            margin-top: 8px;
        }

        a {
            display: inline-block;
            margin-right: 20px;
            font-family: "Gilroy";
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.875;
            color: #64607D;

            @include tab-max() {
                margin-right: 9px;
                font-size: 14px;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .posts-big {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include animateInLeft();

        @include mob() {
            flex-direction: column;
        }

        @include tab-max() {
            opacity: 1;
            left: auto;
            transform: none;
        }

        .post {
            width: calc(50% - 15px);

            @include mob() {
                width: 100%;
            }

            @include mob-lg() {
                width: calc(50% - 8.5px);
            }

            @include tab() {
                width: calc(50% - 8.5px);
            }
        }

        .post-title {
            font-size: 2rem;
            line-height: 1.8;

            @include tab-max() {
                font-size: 16px;
                line-height: 24px;
            }

            @include tab() {
                margin-top: 0;
            }
        }

        .post-text {
            margin-top: 8px;
            letter-spacing: -.5px;
            @extend .section-text;

            @include mob-max() {
                font-size: 14px;
            }

            @include tab() {
                margin-top: 3px;
            }
        }
    }

    .posts-small {

        @include animateInRight();
        @include tab-max() {
            opacity: 1;
            right: auto;
            transform: none;
        }

        .post {
            position: relative;
            display: flex;
            align-items: center;
            border-bottom: 2px solid rgba($border_color, .4);

            img {
                width: 110px;
                margin-right: 16px;

                @include tab() {
                    width: 75px;
                    margin-right: 8.5px;
                }
            }

            .post-category {
                margin-top: 0;
            }

            .post-title {
                margin-top: 0;
                font-size: 1.8rem;
                line-height: 1.36;


                @include tab-max() {
                    font-size: 15px;

                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }

            &:first-child {
                padding-bottom: 27px;

                @include tab-max() {
                    padding-bottom: 15px;
                }
            }

            &:not(:first-child) {
                padding: 27px 0 27px;

                @include tab-max() {
                    padding: 15px 0 15px;
                }
            }
        }
    }
}

.s-track-form {
    padding: 75px 0;
    background-color: $dark_blue;

    @include mob-max() {
        padding: 25px 0;
    }

    @include tab(){
        padding: 45px 0;
    }

    .section-caption-small,
    .section-title,
    .section-text {
        color: #fff;
    }

    .section-caption-small {
        margin-bottom: 15px;
    }

    .section-title {
        margin-bottom: 30px;
        font-weight: 800;
        font-size: 5rem;
        line-height: 1.2;

        @include mob-max() {
            font-size: 25px;
            margin-bottom: 15px;
        }

        @include tab() {
            font-size: 32px;
            margin-bottom: 20px;
        }
    }

    .section-text {
        margin-bottom: 0;
        font-size: 2rem;
        line-height: 1.5;

        @include tab-max() {
            font-size: 16px;
        }
    }

    .section-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mob() {
            flex-direction: column;
        }
        @include mob-lg {

        }
    }

    .section-description {
        max-width: 485px;

        @include animateInLeft();
        @include tab-max() {
            padding-right: 15px;
            opacity: 1;
            transform: none;
            left: auto;
        }
    }
}

.track-form {
    display: flex;
    width: 100%;
    max-width: 370px;
    flex-direction: column;

    @include animateInRight();

    @include mob-max() {
        max-width: none;
        margin-top: 15px;
    }

    @include tab() {
        max-width: 320px;
    }

    input[type="email"],
    input[type="password"] {
        height: 60px;
        margin-bottom: 24px;
        padding-left: 22px;
        padding-right: 22px;
        font-family: "Gilroy";
        font-weight: 500;
        color: #BBB5E0;
        font-size: 2rem;
        background-color: rgba(#F2F3F4, .2);
        border: none;
        border-radius: 5px;

        @include tab-max() {
            height: 45px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 14px;
            margin-bottom: 10px;
        }

        &::placeholder {
            color: rgba(#BBB5E0, .2);
        }
    }

    button {
        height: 60px;
        max-width: none;
        border-radius: 5px;

        @include tab-max() {
            height: 45px;
            font-size: 14px;
        }
    }
}

.footer {
    padding: 123px 0 100px 0;

    @include mob-max() {
        padding: 40px 0 30px 0;
    }

    @include tab() {
        padding: 60px 0 40px;
    }

    .logo {
        display: inline-block;
        margin-bottom: 15px;
    }
}

.footer-columns {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1.8fr;

    @include mob() {
        display: block;

        .footer-column {
            margin-bottom: 20px;
        }
    }

    @include mob-lg(){
        grid-template-columns: 1fr 1fr 1fr;

        .footer-column:last-child {
            margin-top: 30px;
            grid-column: 1 / -1;
        }
    }

    .footer-column:first-child {
        padding-right: 45px;

        @include tab() {
            padding-right: 0;
        }
    }
}

.footer-web-links {
    display: flex;
    align-items: center;

    a {
        display: inline-block;
        margin-right: 16px;
        @include button_hover();
    }

    .icon {
        width: 20px;
        height: 20px;
    }
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 500;
        color: $dark_blue;

        &:not(:last-child),
        &:not(:first-child) {
            margin-bottom: 5px;
        }

        &:hover {
            color: $base_color;
        }

        &:first-child {
            @extend .logo;
            line-height: 21px;
        }
    }
}

.footer-title {
    @extend .logo;
}

.footer-info {
    font-size: 1.6rem;
    line-height: 1.625;
    font-weight: 500;
    color: rgba($dark_blue, .5);
}

.subscription-form {
    display: flex;
    align-items: center;

    margin: 10px 0 21px 0;

    @include mob-max() {
        margin-top: 0;
        margin-bottom: 10px;
    }

    input {
        height: 52px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #F9F9F9;
        font-family: "Manrope";
        font-weight: 500;
        font-size: 1.6rem;
        color: rgba($dark_blue, .7);
        border: none;
        outline: none;

        @include mob-max() {
            height: 45px;
            max-width: 180px;
        }

        &::placeholder {
            font-family: "Manrope";
            font-weight: 500;
            color: rgba($dark_blue, .2);
        }
    }

    button {
        width: 149px;
        height: 52px;
        font-size: 1.6rem;
        font-family: "Manrope";
        background-color: #00E1F0;
        color: #fff;

        @include mob-max() {
            height: 45px;
        }
        &:hover {
            background-color: #1ca8b1;
        }

        &:active {
            background-color: #00E1F0;
        }
    }
}

.footer-copyright {
    padding-top: 40px;
    margin-top: 60px;
    font-weight: 500;
    border-top: 2px solid rgba($border_color, .4);

    @include tab-max() {
        padding-top: 30px;
        margin-top: 20px;
    }
}