@import './fonts';
@import './vars';
@import './general';

// @include font-face('Manrope', 'Manrope-Thin', 100);
// @include font-face('Manrope', 'Manrope-ExtraLight', 200);
// @include font-face('Manrope', 'Manrope-Light', 300);
@include font-face('Manrope', 'Manrope-Regular', 400);
@include font-face('Manrope', 'Manrope-Medium', 500);
@include font-face('Manrope', 'Manrope-SemiBold', 600);
@include font-face('Manrope', 'Manrope-Bold', 700);
@include font-face('Manrope', 'Manrope-ExtraBold', 800);

@include font-face('Gilroy', 'Gilroy-Bold', 600);
@include font-face('Gilroy', 'Gilroy-SemiBold', 700);
@include font-face('Gilroy', 'Gilroy-Medium', 500);

// @import './header.scss';

header {
    position: relative;
    overflow: hidden;
    padding-bottom: 42px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(#C4C4C4, .4);
    z-index: 100;
}

header .logo {
    margin-right: auto;
}

.header-wave {
    position: absolute;
    left: -141px;
    top: -68px;
    width: 1040px;
    height: 888px;
    overflow: hidden;
    z-index: 50;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav .menu {
    margin-right: 180px;
}

.header-login {
    display: flex;
    align-items: center;

    .h-btn {
        display: inline-block;
        padding: 16px 35px;
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 600;
        border-radius: 10px;
        cursor: pointer;
        transition: all .25s ease;

        &.base {
            background-color: $base_color;
            color: #fff;

            &:hover {
                opacity: 0.7;
            }

            &:active {
                opacity: 1;
            }
        }

        &.transparent {
            color: $font_color;
            &:hover {
                opacity: 0.7;
            }

            &:active {
                opacity: 1;
                color: $base_color;
            }
        }
    }
}

.header-content {
    margin-top: 122px; 
}

.header-subtitle {
    font-family: "Gilroy";
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1;
}

.header-title {
    max-width: 646px;
    margin-top: 4px;
    margin-bottom: 12px;
    font-size: 6rem;
    line-height: 1.33;
    font-weight: 800;
}

.header-text {
    max-width: 569px;
    margin-bottom: 20px;  
    color: $header_font_color;
    font-size: 2rem;
    line-height: 1.75;
}

.header-form {
    position: relative;
    max-width: 622px;
    background-color: #fff;
    box-shadow: 0 4.35px 134px rgba(#000, .1);

    label {
        position: absolute;
        left: 24px;
        top: 27px;
        font-family: "Gilroy";
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.25;
        color: rgba(#000, .4);
    }

    input {
        width: 100%;
        height: 100px;
        padding: 28px 0 0 24px;
        font-family: "Gilroy";
        font-size: 2.4rem;
        font-weight: 600;
        color: rgba(#000, .6);
        border: none;
    }

    button {
        position: absolute;
        right: 18px;
        top: 18px;
        height: 64px;
        width: 211px;
        border: none;
        font-family: "Gilroy";
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
        background-color: $font_color;
        cursor: pointer;
        transition: all .25s ease;

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            opacity: 1;
        }
    }
}

.header-advantages {
    display: flex;
    margin-top: 53px;
    .icon {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }
    span {
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        line-height: 1.76;
        color: $header_font_color;

        &:first-of-type {
            margin-right: 30px;
        }
    }
}

.header-dashboard {
    position: absolute;
    top: 121px;
    right: -109px;
    width: 845px;
    height: 685px;
    filter:
        drop-shadow(0 69px 55px rgba(0, 0, 0, 0.03))
        drop-shadow(0 44px 32px rgba(0, 0, 0, 0.03))
        drop-shadow(0 26px 17px rgba(0, 0, 0, 0.0182))
        drop-shadow(0 14px 9px rgba(0, 0, 0, 0.0150))
        drop-shadow(0 6px 4px rgba(0, 0, 0, 0.0118))
        drop-shadow(0 1px 2px rgba(0, 0, 0, 0.072))
}

