html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #5D5FEF;
}

ul li {
  list-style-type: none;
}

input:focus, button:focus {
  outline: none;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #333333;
  background-color: #ffffff;
}

.container {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
  z-index: 200;
}

.text-center {
  text-align: center;
}

.btn-base {
  color: #fff;
  background-color: #5D5FEF;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 10px;
  max-width: 162px;
  border-radius: 47px;
  line-height: 1.875;
  font-size: 1.6rem;
  font-family: "Gilroy";
  font-weight: 600;
  text-align: center;
  transition: all 0.25s ease;
}
.btn:hover {
  opacity: 0.7;
}
.btn:active, .btn:focus {
  opacity: 1;
}

.btn-red {
  background-color: #FF7F5C;
  color: #fff;
}

.btn-more {
  display: block;
  max-width: 259px;
  border-radius: 10px;
}

.logo {
  color: #111;
  font-size: 20px;
  font-family: "Gilroy";
  font-weight: 700;
}

.menu a {
  display: inline-block;
  padding: 40px 0;
  font-size: 14px;
  color: #333333;
  font-weight: 700;
}
.menu a:not(:last-of-type) {
  margin-right: 38px;
}
.menu a.has-dropdown {
  position: relative;
  margin-right: 25px;
}
.menu a.has-dropdown .icon {
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.section-caption-small {
  margin-bottom: 15px;
  font-family: "Gilroy";
  font-size: 1.4rem;
  font-weight: 700;
  color: #5D5FEF;
  text-transform: uppercase;
}

.section-title {
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.2;
}

.section-text {
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #64607D;
  line-height: 1.875;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
header {
  position: relative;
  overflow: hidden;
  padding-bottom: 42px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.4);
  z-index: 100;
}

header .logo {
  margin-right: auto;
}

.header-wave {
  position: absolute;
  left: -141px;
  top: -68px;
  width: 1040px;
  height: 888px;
  overflow: hidden;
  z-index: 50;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-nav .menu {
  margin-right: 180px;
}

.header-login {
  display: flex;
  align-items: center;
}
.header-login .h-btn {
  display: inline-block;
  padding: 16px 35px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
}
.header-login .h-btn.base {
  background-color: #5D5FEF;
  color: #fff;
}
.header-login .h-btn.base:hover {
  opacity: 0.7;
}
.header-login .h-btn.base:active {
  opacity: 1;
}
.header-login .h-btn.transparent {
  color: #333333;
}
.header-login .h-btn.transparent:hover {
  opacity: 0.7;
}
.header-login .h-btn.transparent:active {
  opacity: 1;
  color: #5D5FEF;
}

.header-content {
  margin-top: 122px;
}

.header-subtitle {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
}

.header-title {
  max-width: 646px;
  margin-top: 22px;
  margin-bottom: 22px;
  font-size: 6rem;
  line-height: 1.13;
  font-weight: 800;
}

.header-text {
  max-width: 569px;
  margin-bottom: 20px;
  color: #757095;
  font-size: 2rem;
  line-height: 1.75;
}

.header-form {
  position: relative;
  max-width: 622px;
  background-color: #fff;
  box-shadow: 0 4.35px 134px rgba(0, 0, 0, 0.1);
}
.header-form label {
  position: absolute;
  left: 24px;
  top: 27px;
  font-family: "Gilroy";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.4);
}
.header-form input {
  width: 100%;
  height: 100px;
  padding: 28px 0 0 24px;
  font-family: "Gilroy";
  font-size: 2.4rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  border: none;
}
.header-form button {
  position: absolute;
  right: 18px;
  top: 18px;
  height: 64px;
  width: 211px;
  border: none;
  font-family: "Gilroy";
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  background-color: #333333;
  cursor: pointer;
  transition: all 0.25s ease;
}
.header-form button:hover {
  opacity: 0.7;
}
.header-form button:focus {
  opacity: 1;
}

.header-advantages {
  display: flex;
  margin-top: 53px;
}
.header-advantages .icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
.header-advantages span {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  line-height: 1.76;
  color: #757095;
}
.header-advantages span:first-of-type {
  margin-right: 30px;
}

.header-dashboard {
  position: absolute;
  top: 121px;
  right: -109px;
  width: 845px;
  height: 685px;
  filter: drop-shadow(0 29px 35px rgba(0, 0, 0, 0.2));
}

.section-title-small {
  margin-bottom: 40px;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 2.2rem;
  text-align: center;
}

.s-brands {
  padding: 60px 0 80px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.4);
}

.brands {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands .brand {
  width: 137px;
  height: 28px;
}
.brands .brand:not(:last-child) {
  margin-right: 49px;
}

.s-process {
  position: relative;
  padding: 100px 0 0 0;
  margin-bottom: -185px;
  overflow: hidden;
}
.s-process:before {
  position: absolute;
  right: -131px;
  top: 112px;
  display: block;
  content: "";
  width: 456px;
  height: 456px;
  border-radius: 50%;
  background-color: #F5F8FF;
}

.s-process-text {
  position: relative;
  width: 365px;
  z-index: 600;
}

.animation_line {
  position: absolute;
  top: 142px;
  width: 1017px;
  height: 395px;
}

.s-process-steps {
  counter-reset: item;
  position: absolute;
  top: 199px;
  left: 123px;
  display: flex;
}
.s-process-steps .step {
  position: relative;
}
.s-process-steps .step h3 {
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1.875;
}
.s-process-steps .step::before {
  display: block;
  content: "";
  width: 23px;
  height: 23px;
  margin-bottom: 32px;
  margin-left: 20px;
  background-color: #C4C4C4;
  box-shadow: 0 0 0 20px #f3f3f3;
  border-radius: 7px;
}
.s-process-steps .step:after {
  position: absolute;
  right: 0;
  top: -68px;
  display: block;
  counter-increment: item;
  content: counter(item);
  font-family: "Gilroy";
  font-weight: 900;
  font-size: 20rem;
  line-height: 1;
  opacity: 0.05;
}
.s-process-steps .step:first-child {
  margin-top: 315px;
  margin-right: 187px;
}
.s-process-steps .step:nth-child(2) {
  margin-top: 185px;
  margin-right: 56px;
}
.s-process-steps .step:nth-child(3) {
  position: relative;
  top: -64px;
}
.s-process-steps .section-text {
  min-width: 285px;
  max-width: 285px;
}

.s-process-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 830px;
  height: 400px;
  margin-top: 435px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 15px;
  text-align: center;
}
.s-process-banner:before {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(22, 1, 44, 0.5);
  z-index: 10;
}
.s-process-banner img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}
.s-process-banner .section-title {
  position: relative;
  margin-bottom: 0;
  z-index: 11;
  color: #fff;
}
.s-process-banner p {
  position: relative;
  max-width: 604px;
  margin: 15px 0 20px 0;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;
  color: #fff;
  z-index: 11;
}
.s-process-banner .btn {
  position: relative;
  z-index: 11;
}

.s-grow {
  position: relative;
  overflow: hidden;
  padding-top: 290px;
  padding-bottom: 159px;
}
.s-grow .section-text {
  max-width: 604px;
  margin-left: auto;
  margin-right: auto;
}
.s-grow .bg-image {
  position: absolute;
  left: 50%;
  top: 0;
  width: 2560px;
  height: 1113px;
  transform: translateX(-50%);
}
.s-grow .btn-more {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.grow-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 75px;
}

.g-item {
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 20px;
}
.g-item .icon {
  width: 42px;
  height: 42px;
}

.g-title {
  margin-top: 25px;
  font-size: 2.4rem;
  line-height: 2.5;
}

.g-link {
  font-size: 1.6rem;
  font-weight: 500;
  color: #01966B;
  transition: all 0.25s ease;
}
.g-link:hover {
  opacity: 0.7;
}
.g-link:active, .g-link:focus {
  opacity: 1;
}
.g-link .icon {
  width: 12px;
  height: 12px;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */