@import './fonts';
@import './vars';
@import './general';
@import './mixins';

// @include font-face('Manrope', 'Manrope-Thin', 100);
// @include font-face('Manrope', 'Manrope-ExtraLight', 200);
// @include font-face('Manrope', 'Manrope-Light', 300);
@include font-face('Manrope', 'Manrope-Regular', 400);
@include font-face('Manrope', 'Manrope-Medium', 500);
@include font-face('Manrope', 'Manrope-SemiBold', 600);
@include font-face('Manrope', 'Manrope-Bold', 700);
@include font-face('Manrope', 'Manrope-ExtraBold', 800);

@include font-face('Gilroy', 'Gilroy-Medium', 500);
@include font-face('Gilroy', 'Gilroy-SemiBold', 600);
@include font-face('Gilroy', 'Gilroy-Bold', 700);
@include font-face('Gilroy', 'Gilroy-Black', 900);

// @import './header.scss';

header {
    position: relative;
    overflow: hidden;
    padding-bottom: 42px;
    border-bottom: 1px solid rgba($border_color, .4);
    z-index: 100;
}

header .logo {
    margin-right: auto;
}

.header-wave {
    position: absolute;
    left: -141px;
    top: -68px;
    width: 1040px;
    height: 888px;
    overflow: hidden;
    z-index: 50;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav .menu {
    margin-right: 180px;
}

.header-login {
    display: flex;
    align-items: center;

    .h-btn {
        display: inline-block;
        padding: 16px 35px;
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 600;
        border-radius: 10px;
        cursor: pointer;
        transition: all .25s ease;

        &.base {
            background-color: $base_color;
            color: #fff;

            &:hover {
                opacity: 0.7;
            }

            &:active {
                opacity: 1;
            }
        }

        &.transparent {
            color: $font_color;

            &:hover {
                opacity: 0.7;
            }

            &:active {
                opacity: 1;
                color: $base_color;
            }
        }
    }
}

.header-content {
    margin-top: 122px;
}

.header-subtitle {
    font-family: "Gilroy";
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
}

.header-title {
    max-width: 646px;
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 6rem;
    line-height: 1.13;
    font-weight: 800;
}

.header-text {
    max-width: 569px;
    margin-bottom: 20px;
    color: $header_font_color;
    font-size: 2rem;
    line-height: 1.75;
}

.header-form {
    position: relative;
    max-width: 622px;
    background-color: #fff;
    box-shadow: 0 4.35px 134px rgba(#000, .1);

    label {
        position: absolute;
        left: 24px;
        top: 27px;
        font-family: "Gilroy";
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.25;
        color: rgba(#000, .4);
    }

    input {
        width: 100%;
        height: 100px;
        padding: 28px 0 0 24px;
        font-family: "Gilroy";
        font-size: 2.4rem;
        font-weight: 700;
        color: rgba(#000, .6);
        border: none;
    }

    button {
        position: absolute;
        right: 18px;
        top: 18px;
        height: 64px;
        width: 211px;
        border: none;
        font-family: "Gilroy";
        color: #fff;
        font-size: 2rem;
        font-weight: 700;
        background-color: $font_color;
        cursor: pointer;
        transition: all .25s ease;

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            opacity: 1;
        }
    }
}

.header-advantages {
    display: flex;
    margin-top: 53px;

    .icon {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }

    span {
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        line-height: 1.76;
        color: $header_font_color;

        &:first-of-type {
            margin-right: 30px;
        }
    }
}

.header-dashboard {
    position: absolute;
    top: 121px;
    right: -109px;
    width: 845px;
    height: 685px;
    filter: drop-shadow(0 29px 35px rgba(0, 0, 0, 0.2));
}

.section-title-small {
    margin-bottom: 40px;
    font-family: "Gilroy";
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center;
}

.s-brands {
    padding: 60px 0 80px;
    border-bottom: 1px solid rgba($border_color, .4);
}

.brands {
    display: flex;
    align-items: center;
    justify-content: center;

    .brand {
        width: 137px;
        height: 28px;

        &:not(:last-child) {
            margin-right: 49px;
        }
    }
}

.s-process {
    position: relative;
    padding: 100px 0 0 0;
    margin-bottom: -185px;
    overflow: hidden;

    &:before {
        position: absolute;
        right: -131px;
        top: 112px;
        display: block;
        content: "";

        width: 456px;
        height: 456px;
        border-radius: 50%;
        background-color: #F5F8FF;
    }
}

.s-process-text {
    position: relative;
    width: 365px;
    z-index: 600;
}

#animation_line {
    position: absolute;
    top: 142px;
    width: 1017px;
    height: 402px;

    // .road_way,
    // .road_progress {
    //     display: none;
    //     position: relative;
    //     z-index: 999;
    // }

    .road_progress {
        position: relative;
        z-index: 999;

        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;

        transition: stroke-dashoffset 1.2s ease;
        opacity: 0;
    }

    .road_way {
        position: relative;
        z-index: 800;
    }
}

.s-process-steps {
    counter-reset: item;

    position: absolute;
    top: 199px;
    left: 123px;
    display: flex;

    .step {
        position: relative;

        h3 {
            font-weight: 800;
            font-size: 1.6rem;
            line-height: 1.875;
        }

        &::before {
            display: block;
            content: "";
            width: 23px;
            height: 23px;
            margin-bottom: 32px;
            margin-left: 20px;
            background-color: $border_color;
            box-shadow: 0 0 0 20px #f3f3f3;
            border-radius: 7px;
            transition: background-color, .25s ease;
            transition-delay: 600ms;
        }

        &:after {
            position: absolute;
            right: 0;
            top: -68px;
            display: block;
            counter-increment: item;
            content: counter(item);
            font-family: "Gilroy";
            font-weight: 900;
            font-size: 20rem;
            line-height: 1;
            opacity: .05;
        }

        &:first-child {
            margin-top: 315px;
            margin-right: 187px;
        }

        &:nth-child(2) {
            margin-top: 185px;
            margin-right: 56px;
        }

        &:nth-child(3) {
            position: relative;
            top: -64px;
        }

        &.active:before {
            background-color: $red;
        }
    }

    .section-text {
        min-width: 285px;
        max-width: 285px;
    }
}

.s-process-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 830px;
    height: 400px;
    margin-top: 435px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 15px;
    text-align: center;

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(#16012C, .5);
        z-index: 10;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
    }

    .section-title {
        position: relative;
        margin-bottom: 0;
        z-index: 11;
        color: #fff;
    }

    p {
        position: relative;
        max-width: 604px;
        margin: 15px 0 20px 0;
        font-family: "Gilroy";
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.5;
        color: #fff;
        z-index: 11;
    }

    .btn {
        position: relative;
        z-index: 11;
    }
}

.s-grow {
    position: relative;
    min-height: 1113px;
    overflow: hidden;
    padding-top: 290px;
    padding-bottom: 159px;

    .section-text {
        max-width: 604px;
        margin-left: auto;
        margin-right: auto;
    }

    .bg-image {
        position: absolute;
        left: 50%;
        top: 0;
        width: 2560px;
        height: 1113px;
        transform: translateX(-50%);
    }

    .btn-more {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}

.grow-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 75px;
}

.g-item {
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 20px;

    .icon {
        width: 42px;
        height: 42px;
    }
}

.g-title {
    margin-top: 25px;
    font-size: 2.4rem;
    line-height: 2.5;
}

.g-link {
    font-size: 1.6rem;
    font-weight: 500;
    color: #01966B;
    @include button_hover();

    .icon {
        width: 12px;
        height: 12px;
        margin-left: 10px;
    }
}

.s-built {
    padding: 100px 0 130px;
    .section-title {
        min-width: 360px;
        max-width: 370px;
        padding-right: 40px;
        margin-bottom: 0;
        font-size: 3.4rem;
    }
}

.s-built-aligner {
    display: flex;
    align-items: center;
    padding: 40px 45px;
    border: 1px solid rgba($border_color, .4);
    border-radius: 20px;
}

.built-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .icon {
        width: 40px;
        height: 40px;
    }

    .item {
        display: flex;
        align-items: center;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            border-radius: 5px;
            background-color: #E9ECF2;
        }

        p {
            max-width: 155px;
            padding-left: 18px;
            font-family: "Gilroy";
            font-size: 2rem;
            line-height: 1.6;
            color: $section_text_color;
        }

        &:last-child {
            p {
                max-width: 180px;
            }
        }
    }
}

.s-offering {
    margin-bottom: 120px;
}

.offers {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.offer {
    width: calc(50% - 15px);
    padding: 38px;
    background-color: #F8F9FD;
    border-radius: 20px;
    text-align: center;
}

.offer-title {
    max-width: 388px;
    margin: 0 auto;
    font-size: 3.8rem;
    line-height: 1.31;
}

.offer-text {
    max-width: 468px;
    margin: 20px auto 35px auto;
    font-family: "Gilroy";
    font-size: 1.6rem;
    line-height: 1.875;
    color: $section_text_color;
}

.swiper {
  width: 100%;
  height: auto;
}

.s-testimonials {
    padding-bottom: 94px;
    
    .section-title,
    .section-caption-small {
        text-align: center;
    }

    .review-slide {
        display: flex;
        align-items: center;
    }
}

.review-img {
    position: relative;
    padding: 67px 45px;

    img {
        position: relative;
        width: 402px;
        height: 539px;
        z-index: 50;
        object-fit: cover;
    }

    .decor {
        .icon {
            position: absolute;
            z-index: 40;

            &:first-child {
                left: 0;
                top: 18px;
                width: 96px;
                height: 98px;
            }

            &:nth-child(2) {
                width: 133px;
                height: 133px;
                right: -13px;
                bottom: 0;
            }

            &:nth-child(3) {
                width: 126px;
                height: 20px;
                left: 145px;
                bottom: 15px;
            }

            &:nth-child(4) {
                width: 148px;
                height: 148px;
                right: 0;
                top: 0;
            }
        }
    }
}
.review-text {
    max-width: 554px;
    margin-left: auto;
    margin-right: 20px;
    font-size: 3rem;
    line-height: 1.36;
    font-weight: 600;

    > .icon {
        width: 31px;
        height: 27px;
    }


}
.review-rating {
    display: flex;
    align-items: center;
    margin: 20px 0;

    .icon {
        width: 28px;
        height: 28px;
        margin-right: 6px;
    }
}

.review-author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;

    .icon {
        width: 137px;
        height: 28px;
    }
}

.reviewer {
    span {
        display: block;

        &:first-child {
            font-weight: 600;
            font-size: 2rem;
            line-height: 1.5;
        }

        &:last-child {
            color: $header_font_color;
            font-size: 1.6rem;
            line-height: 1.5;
        }
    }
}

.reviews-slider {
    .custom-prev,
    .custom-next {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 14px 14px rgba(#000, .1);
        transform: translateY(-50%);
        z-index: 60;
        cursor: pointer;

        .icon {
            width: 10px;
            height: 20px;
        }
    }

    &.swiper {
        .custom-prev {
            left: 15px;
        }
        .custom-next {
            right: auto;
            left: 417px;
        }
    }
}

.s-download {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 193px;
    min-height: 699px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-image: url(../img/sprite/download_bg.svg);
    text-align: center;

    .section-caption-small {
        margin-bottom: 0;
    }

    .section-title {
        max-width: 700px;
        margin: 20px 0 23px;
    }

    .section-text {
        font-size: 2rem;
        margin-bottom: 29px;
    }

    .download-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .icon {
            width: 30px;
            height: 30px;
            margin-right: 4px;
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 178px;
            padding: 0;
            line-height: 5.3rem;
        }
    }

    .btn-black {
        margin-left: 11px;
    }
}

.s-posts {
    padding: 23px 0 100px;

    img {
        border-radius: 10px;
    }

    .posts-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .posts {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 30px;
        margin-top: 56px;

        .post {
            position: relative;
        }

        .post-title {
            margin-top: 11px;
            font-weight: 800;
        }

        .post-link {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 32;

            &:hover {
                ~ .post-title,
                ~ .post-description .post-title {
                    text-decoration: underline;
                }
            }
        }
    }

    .post-category {
        position: relative;
        z-index: 33;
        margin-top: 14px;

        a {
            display: inline-block;
            margin-right: 20px;
            font-family: "Gilroy";
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.875;
            color: #64607D;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .posts-big {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .post {
            width: calc(50% - 15px);
        }

        .post-title {
            font-size: 2rem;
            line-height: 1.8;
        }

        .post-text {
            margin-top: 8px;
            letter-spacing: -.5px;
            @extend .section-text
        }
    }

    .posts-small {
        .post {
            position: relative;
            display: flex;
            align-items: center;
            border-bottom: 2px solid rgba($border_color, .4);

            img {
                width: 110px;
                margin-right: 16px;
            }

            .post-category {
                margin-top: 0;
            }

            .post-title {
                margin-top: 0;
                font-size: 1.8rem;
                line-height: 1.36;
            }

            &:first-child {
                padding-bottom: 27px;
            }

            &:not(:first-child) {
                padding: 27px 0 27px;
            }
        }
    }
}

.s-track-form {
    padding: 75px 0;
    background-color: $dark_blue;

    .section-caption-small,
    .section-title,
    .section-text {
        color: #fff;
    }

    .section-caption-small {
        margin-bottom: 15px;
    }

    .section-title {
        margin-bottom: 30px;
        font-weight: 800;
        font-size: 5rem;
        line-height: 1.2;
    }
    .section-text {
        margin-bottom: 0;
        font-size: 2rem;
        line-height: 1.5;
    }
    .section-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .section-description {
        max-width: 485px;
    }
}

.track-form {
    display: flex;
    width: 100%;
    max-width: 370px;
    flex-direction: column;

    input[type="email"],
    input[type="password"] {
        height: 60px;
        margin-bottom: 24px;
        padding-left: 22px;
        padding-right: 22px;
        font-family: "Gilroy";
        font-weight: 500;
        color: #BBB5E0;
        font-size: 2rem;
        background-color: rgba(#F2F3F4, .2);
        border: none;
        border-radius: 5px;

        &::placeholder {
            color: rgba(#BBB5E0, .2);
        }
    }

    button {
        height: 60px;
        max-width: none;
        border-radius: 5px;
    }
}

.footer {
    padding: 123px 0 100px 0;

    .logo {
        display: inline-block;
        margin-bottom: 15px;
    }
}

.footer-columns {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1.8fr;

    .footer-column:first-child {
        padding-right: 45px;
    }
}

.footer-web-links {
    display: flex;
    align-items: center;

    a {
        display: inline-block;
        margin-right: 16px;
        @include button_hover();
    }

    .icon {
        width: 20px;
        height: 20px;
    }
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a {
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 500;
        color: $dark_blue;

        &:not(:last-child),
        &:not(:first-child) {
            margin-bottom: 5px;
        }

        &:hover {
            color: $base_color;
        }

        &:first-child {
            @extend .logo;
            line-height: 21px;
        }
    }
}

.footer-title {
    @extend .logo;
}

.footer-info {
    font-size: 1.6rem;
    line-height: 1.625;
    font-weight: 500;
    color: rgba($dark_blue, .5);
}

.subscription-form {
    display: flex;
    align-items: center;

    margin: 10px 0 21px 0;

    input {
        height: 52px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #F9F9F9;
        font-family: "Manrope";
        font-weight: 500;
        font-size: 1.6rem;
        color: rgba($dark_blue, .7);
        border: none;
        outline: none;

        &::placeholder {
            font-family: "Manrope";
            font-weight: 500;
            color: rgba($dark_blue, .2);
        }
    }

    button {
        width: 149px;
        height: 52px;
        font-size: 1.6rem;
        font-family: "Manrope";
        background-color: #00E1F0;
        color: #fff;

        &:hover {
           background-color: #1ca8b1; 
        }

        &:active {
            background-color: #00E1F0;
        }
    }
}

.footer-copyright {
    padding-top: 40px;
    margin-top: 60px;
    font-weight: 500;
    text-align: center;
    border-top: 2px solid rgba($border_color, .4);
}